.box {
    min-width : 80px;
    height: 100vh;
    display:  flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 0;
    background-color: var(--deepgray-color);
    z-index: 100;
}

.icon_box {
    display:  flex;
    flex-direction: column;
    align-items: center;
    justify-content:  center;
    margin-top: 6px;
    width: 40px;
    height: 40px;
    padding : 4px;
    border-radius: 18px;
    background-color: var(--main-color);
}

@media screen and (max-width : 800px) {
    .box {
        min-width : 60px;
        background-color: var(--deepgray-color);
    }
    .icon_box {
        width: 30px;
        height: 30px;
        border-radius: 15px;
        padding : 6px;
    }
}