.header_box{
    display:  flex;
    flex-direction: row;
    align-items: center;
    justify-content:  flex-start;
    margin-top: 6px;
    width: calc(100% - 48px);
    height: 30px;
    padding : 4px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 8px;

    overflow-x: scroll;
    overflow-y: hidden;
}
.header_box::-webkit-scrollbar{
    display: none;
}

.icon_box {
    display :flex;
    align-items :center;
    margin-right: 24px;
}
.icon_text {
    color : white;
    margin-left: 24px;
    user-select: none;
    white-space: nowrap;
}


@media screen and (max-width : 510px) {
    .header_box{
        width: calc(100% - 24px);
        padding-left: 12px;
        padding-right: 12px;
        border-radius: 8px;
    }
        .icon_box {
            display :flex;
            align-items :center;
            margin-right: 12px;
        }
        .icon_text {
            margin-left: 12px;
        }
        .list_box{
            margin-left: 12px;
        }
        .select_box{
            border-radius: 6px;
        }
}