.list_box{
    display : flex;
    align-items : center;
    margin-top: 12px;
    margin-bottom : 12px;
    width : 100%;
    justify-content :space-between;
    padding: 4px;
}
.list_box:hover{
    border-radius:  3px;
    background-color: rgba(128, 128, 128, 0.247);
}

.user_box{
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}

.user_name {
    color : white;
    font-size:  20px;
    font-weight: bold;
}
.user_type{
    color : gray;
    font-size:  15px;
    font-weight: bold;
}