.search_box{
    display:  flex;
    flex-direction: row;
    align-items: center;
    justify-content:  flex-start;
    margin-top: 6px;
    width: calc(100% - 24px);
    height: 30px;
    padding : 4px;
    padding-left: 12px;
    padding-right: 12px;
    cursor: pointer;
    background-color: var(--deepgray-color);
    border-radius: 8px;
}

.icon_box {
    display:  flex;
    flex-direction: row;
    align-items: center;
    justify-content:  flex-start;
    margin-top: 6px;
    width: calc(100% - 24px);
    height: 35px;
    padding : 4px;
    padding-left: 12px;
    padding-right: 12px;
    cursor: pointer;
}
.icon_box:hover{
    opacity: 0.8;
}
.icon_text {
    color : white;
    margin-left: 24px;
}
.select_box{
    background-color: var(--gray-color);
    border-radius: 8px;
}

.user_box{
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}

.user_name {
    color : white;
    font-size:  20px;
    font-weight: bold;
}
.user_type{
    color : gray;
    font-size:  15px;
    font-weight: bold;
}