body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, main {
	height : 100vh;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@media screen and (max-width : 800px){
  html, body, main {
    height : 100vh;
    position: fixed;
    /* overflow: hidden; */
  }
}


@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slidein {
  from{
    left: -100%;
  }
  to{
    left: 0%;
  }
}
@keyframes slideout {
  from{
    left: 0%;
  }
  to{
    left: -100%;
  }
}


:root  {
  --main-color: #546ce3;
  --sub-color: #42BFDD;
  --gray-color : #3e3e44;
  --darkgray-color : #292828;
  --deepgray-color : #1C1C1D;
  --error-color : #FF6542;
}